# Outputs
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
!src/ng-essentials/jest/**/*.js
!src/ng-essentials/cypress/cypress/**/*.js

# IDEs
.idea/
jsconfig.json
.vscode/

# Misc
node_modules/
coverage/
npm-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store
